<!-- BLINDS: Main -->
<div id="blinds" class="panel">
	<div class="toolbar">
    <h1>Interior Blinds</h1>
    <a class="back button" href="#main">Back</a>
  </div>
	<ul class="edgetoedge">
    <li><a href="#blinds_west">West Interior Blinds</a></li>
    <li><a href="#blinds_south_west">South West Interior Blinds</a></li>
    <li><a href="#blinds_south_east">South East Interior Blinds</a></li>
    <li><a href="#blinds_east">East Interior Blinds</a></li>
  </ul> 
</div>

	<!-- BLINDS: West -->
	<div id="blinds_west" class="panel">
	  <div class="toolbar">
	    <h1>Interior Blinds</h1>
	    <a class="back button" href="#blinds">Back</a>
	  </div>
	  <div class="subpanel">
			West Interior Blinds Slider
	  </div>
	</div>

	<!-- BLINDS: South West -->
	<div id="blinds_south_west" class="panel">
	  <div class="toolbar">
	    <h1>Interior Blinds</h1>
	    <a class="back button" href="#blinds">Back</a>
	  </div>
	  <div class="subpanel">
			South West Interior Blinds Slider
	  </div>
	</div>

	<!-- BLINDS: South East -->
	<div id="blinds_south_east" class="panel">
	  <div class="toolbar">
	    <h1>Interior Blinds</h1>
	    <a class="back button" href="#blinds">Back</a>
	  </div>
	  <div class="subpanel">
			South East Interior Blinds Slider
	  </div>
	</div>

	<!-- BLINDS: East -->
	<div id="blinds_east" class="panel">
	  <div class="toolbar">
	    <h1>Interior Blinds</h1>
	    <a class="back button" href="#blinds">Back</a>
	  </div>
	  <div class="subpanel">
			East Interior Blinds Slider
	  </div>
	</div>