<div id="climate" class="panel">
  <div class="toolbar">
    <h1>Climate</h1>
    <a class="back button" href="#main">Back</a>
  </div>
  <div class="subpanel">
  	<div class="section">
			<h3>TEMPERATURE</h3>
			<%= @current_temp %>&deg;C
  	</div>
  	<div class="section">
	  	<h3>HUMIDITY</h3>
	  	<%= @current_RH %>%
  	</div>
  	<div class="section">
	  	<h3>VENTILATION</h3> 
	  	ON OFF
  	</div>
  </div>
</div>
