<div class="panel" id="demo_message">
	<div class="toolbar">
    <h1><%= image_tag "/images/mobile/north_house_logo.png", :alt => "North House" %></h1>
    <a class="back button" href="#">Back</a>
  </div>  
  
	<p style="text-align: center; font-size: 1.4em; width: 240px; font-weight: bold; margin: 100px auto; line-height: 1.8em;">
		We're sorry.<br />
		This feature isn't available in the demo.
	</p>
</div>
