<!-- SHADES: Main -->
<div id="shades" class="panel">
	<div class="toolbar">
    <h1>Exterior Shades</h1>
    <a class="back button" href="#main">Back</a>
  </div>
	<ul class="edgetoedge">
    <li><a href="#shades_west">West Exterior Shades</a></li>
    <li><a href="#shades_south_west">South West Exterior Shades</a></li>
    <li><a href="#shades_south_east">South East Exterior Shades</a></li>
    <li><a href="#shades_east">East Exterior Shades</a></li>
  </ul> 
</div>

	<!-- SHADES: West -->
	<div id="shades_west" class="panel">
	  <div class="toolbar">
	    <h1>Exterior Shades</h1>
	    <a class="back button" href="#shades">Back</a>
	  </div>
	  <div class="subpanel">
			West Exterior Shades Control
	  </div>
	</div>

	<!-- SHADES: South West -->
	<div id="shades_south_west" class="panel">
	  <div class="toolbar">
	    <h1>Exterior Shades</h1>
	    <a class="back button" href="#shades">Back</a>
	  </div>
	  <div class="subpanel">
			South West Exterior Shades Control
	  </div>
	</div>

	<!-- SHADES: South East -->
	<div id="shades_south_east" class="panel">
	  <div class="toolbar">
	    <h1>Exterior Shades</h1>
	    <a class="back button" href="#shades">Back</a>
	  </div>
	  <div class="subpanel">
			South East Exterior Shades Control
	  </div>
	</div>

	<!-- SHADES: East -->
	<div id="shades_east" class="panel">
	  <div class="toolbar">
	    <h1>Exterior Shades</h1>
	    <a class="back button" href="#shades">Back</a>
	  </div>
	  <div class="subpanel">
			East Exterior Shades Control
	  </div>
	</div>
