					<div id="profile_updates">
					<div class="window"> 
					
						<div class="scroll_div">
								<div class="rows" >
								
      									<div class="row_item">	
      										<div class="user_thumbnail"><img src="../images/community/profile_thumbnail_02.jpg"></div>
      											<div class="row_item_content">
      												<span class="username">May</span><span class="post_content">contributed a tip:</span><a class="title_link" href=" tips_fullview_06.htm">My Winter Energy Saving Tips</a>
      												<div class="user_comments">
      													Since up to 25 per cent of heat loss is through windows, plastic window covers can help reduce drafts.  They can be purchased at most hardwar stores...
      													<a class="read_more"  href="tips_fullview_06.htm">read more</a>
      												</div>
      												
      												<div class="user_comments">
      													<div class="comment_link">
      													<img src="../images/community/icon_comment.png" alt="icon_comment" width="19" height="12"/> 
      													<a class="add_comment" href="">Add a Comment </a>
      													</div>
      													<div class="rating">
      													<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
      													<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
      													<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
      													<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
      													<img src="../images/community/star_empty%5Bs%5D.png" alt="star_empty%5Bs%5D" width="12" height="12"/>
      													</div>	
      													<div class="time">1 hour ago</div>    
      												</div>	

										<div class="post_comment_group">
       												<div class="post_comment">
       													<div class="user_thumbnail_small"><img src="../images/community/profile_thumbnail_small_01.jpg"></div>
      													<span class="username">Lisa</span><span class="post_content">Great Tip! Thank you.</span>
      													<div class="time">13 minutes ago </div>
      												</div>
      												
      												<div class="post_comment">
       													<div class="user_thumbnail_small"><img src="../images/community/profile_thumbnail_small_02.jpg"></div>
      													<span class="username">The Small Footprinter</span><span class="post_content">
      													These are great points for people who live in places that get very cold in the winter. I live in Toronto, where it gets very cold in the winter but usually sunny.
      													</span>
      													<div class="time ">4 minutes ago </div>
      												</div>
      												
      												<div class="post_comment">
      													<textarea class="post_comment" wrap maxlength="200" cols="120" rows="1">Write a comment</textarea>
      						 							<div class="button_light"><a href="">Post it</a></div>
      												</div>
      											</div>
      											
      											</div>
      									</div>
      									
      																	
      									<div class="row_item">	
      										<div class="user_thumbnail"><img src="../images/community/profile_pictures/profile_thumbnail_08.jpg"></div>
      											<div class="row_item_content">
      												<span class="username">James</span><span class="post_content">contributed a tip</span><a class="title_link" href="tips_fullview_04.htm ">How I saved electricity in my Kitchen</a>
      												<div class="user_comments">
      													Replace the air filters that keep dust off of the duct system - usually every three months for most models...
      												</div>
      												
      												<div class="user_comments">
      													<div class="comment_link">
      													<img src="../images/community/icon_comment.png" alt="icon_comment" width="19" height="12"/> 
      													<a class="add_comment" href="">Add a Comment </a>
      													</div>

      													<div class="rating">
      													<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
      													<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
      													<img src="../images/community/star_empty%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
      													<img src="../images/community/star_empty%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
      													<img src="../images/community/star_empty%5Bs%5D.png" alt="star_empty%5Bs%5D" width="12" height="12"/>
      													</div>	
      													<div class="time">5 hours ago</div>    
      												</div>			
      											</div>
      									</div>
      									
      									      																	
      									<div class="row_item">	
      										<div class="user_thumbnail"><img src="../images/community/profile_pictures/profile_thumbnail_13.jpg"></div>
      											<div class="row_item_content">
      												<span class="username">Amanda&Ryan</span><span class="post_content">Joined a challenge</span><a class="title_link" href=" ">Reduce Water use by 5% over a month</a>
      												<div class="user_comments">
      													This challenge runs from September 02-October 02, 2009
      		    										</div>
      		    										<div class="user_comments">
      		    											<div class="time">7 hours ago</div>    
      		    										</div>
      											</div>
      									</div>
      									      									      																	
      									      																	
      									<div class="row_item">	
      										<div class="user_thumbnail"><img src="../images/community/profile_thumbnail_04.jpg"></div>
      											<div class="row_item_content">
      												<span class="username">Wind</span><span class="post_content">contributed a tip</span><a class="title_link" href=" tips_fullview_02.htm">Recycle useful materials</a>
      												<div class="user_comments">
      													When you're making home improvements try and reuse old materials such as glass, stone and brick...
      		    										</div>
      		    										      												
      												<div class="user_comments">
      													<div class="comment_link">
      													<img src="../images/community/icon_comment.png" alt="icon_comment" width="19" height="12"/> 
      													<a class="add_comment" href="">Add a Comment </a>
      													</div>

      													<div class="rating">
      													<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
      													<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
      													<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
      													<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
      													<img src="../images/community/star_empty%5Bs%5D.png" alt="star_empty%5Bs%5D" width="12" height="12"/>
      													</div>	
      													<div class="time">2 Days ago</div>    
      												</div>	
      		    										
      											</div>
      									</div>
      																	
 
      																	


      									
      								
      								</div> <!--end rows-->
						</div><!--END OF SCROLL -->
					</div><!-- END OF WINDOW -->
					</div><!--END OF PROFILE UPDATES-->
