					<div id="profile_updates">
					<div class="window"> 
					
						<div class="scroll_div">
				<div class="rows" >
				
								<div class="row_item">	
									<div class="user_thumbnail"><img src="../images/community/profile_thumbnail_02.jpg"></div>
										<div class="row_item_content">
											<span class="username">May</span><span class="post_content">commented on your tip:</span><a class="title_link" href="tips_fullview_09.htm">Dont' forget to recycle your toothbrush</a>
											<div class="user_comments">
												Very good point.  I often forget the less obvious things to recycle.  And since you need to replace your toothbrush every few months the amount can really add up.  Think about...
												<a class="read_more"  href="tips_fullview_09.htm ">read more</a>
											</div>
											<div class="user_comments">
												<div class="comment_link">
												<img src="../images/community/icon_comment.png" alt="icon_comment" width="19" height="12"/> 
												<a class="add_comment" href="">Add a Comment </a>
												</div>
												<br>
												<div class="time">2 Days ago</div>    
											</div>	

											
											
											<div class="post_comment_group">	
												<div class="post_comment">
													
													<textarea class="post_comment" wrap maxlength="200" cols="120" rows="1">Reply to comment</textarea>
					 								<div class="button_light"><a href="">Post it</a></div>
												</div>
											</div>
										</div>
								</div>
								
																
								<div class="row_item">	
									<div class="user_thumbnail"><img src="../images/community/profile_pictures/profile_thumbnail_11.jpg"></div>
										<div class="row_item_content">
											<span class="username">The Green Thumbs</span><span class="post_content">added a comment to your challenge:</span><a class="title_link" href="challenge.htm">Reduce Electricity by 10% in over a month</a>
											<div class="user_comments">
												Since up to 25 per cent of heat loss is through windows, plastic window covers can help reduce drafts.  They can be purchased at most hardwar stores...
												<a class="read_more"  href="challenge_chatter.htm">read more</a>
											</div>
											<div class="user_comments">
												<div class="comment_link">
												<img src="../images/community/icon_comment.png" alt="icon_comment" width="19" height="12"/> 
												<a class="add_comment" href="">Add a Comment </a>
												</div>
										<br>
												<div class="time">2 Days ago</div>    
											</div>	

											
																				
										</div>
								</div>
								
								      																	
								<div class="row_item">	
									<div class="user_thumbnail"><img src="../images/community/profile_pictures/profile_thumbnail_06.jpg"></div>
										<div class="row_item_content">
											<span class="username">The Brandon House</span><span class="post_content">has become the new leader in your challenge:</span><a class="title_link" href="challenge.htm">Reduce Electricity by 10% in over a month</a>
											<div class="user_comments">
												Congratulate them in the chatter!
												
											</div>
											<div class="user_comments">
												<div class="comment_link">
												
												<a class="add_comment" href="">Go to Chatter Board </a>
												</div>
										<br>
												<div class="time">2 Days ago</div>    
											</div>	

																		
										</div>
								</div>
								      									      																	
								<div class="row_item">	
									<div class="user_thumbnail"><img src="../images/community/new_tip_update.png"></div>
										<div class="row_item_content">
											<span class="username">Green Tip Update:</span><a class="title_link" href="tips_fullview_08.htm">10 Easy Ways to Reduce Household Waste </a><span class="post_content">recieved a new star!</span>
												<span class="stars">
													<a class="full"></a></a><a class="full"></a><a class="full"></a><a class="full"></a>
												</span>
											<div class="user_comments">
											</div>
											<div class="user_comments">
												
												<div class="time">2 Days ago</div>    
											</div>	
								
										</div>
								</div>
																

																


								
							
							</div> <!--end rows-->
						</div><!--END OF SCROLL -->
					</div><!-- END OF WINDOW -->
					</div><!--END OF PROFILE UPDATES-->
