<% title("Neighbourhood Network | Challenges") %>

<div id="sidebar_left"><!-- START OF SIDEBAR LEFT -->
	<div id="sidebar_content">
	<H5 class="title aqua_blue">BOUCHER HOUSEHOLD</H5>
	<div id="profilepic" class="profile" onmouseover="DisplayDIV('editMode');"  style="cursor:pointer" >
	
	<div class="profile_edit" onmouseout="HideDIV('editMode');" id="editMode" style="display:none;" onclick="RedBox.showInline('modal_edit_profile'); return false;"></div>
	</div>
	<p class="small light-grey">
		You have participated <span class="green">in 4</span> community challenges, 
		and have <span class="green">won 3</span> of them. 
	</p>
	<div class="button_dark"><a href="challenge_previous.htm" <% if demo? %>onclick="demoMessage(); return false;"<% end %>>View Previous Challenges</a></div>
	<div class="section_divider"></div>
	<h5 class="title aqua_blue">ACHIEVEMENTS</h5>
	<div class="achievement_row">
		<span class="trophy"><img src="../images/community/trophy_01.png"></span><span class="smaller light-grey">Electricity Reduction Challenges</span>
	</div>
	<div class="achievement_row">	
		<span class="trophy"><img src="../images/community/trophy_02.png"></span><span class="smaller light-grey">Water Reduction Challenges</span>
	</div>
	
	
</div>	
</div><!-- END OF SIDEBAR LEFT -->

		<div id="center_block"> <!-- START OF CENTER BLOCK -->
			
			<div id="content_center">
				
				<h1 class="title dark-grey">CURRENT CHALLENGE</h1>
				<h2 class="subtitle grey">Reduce Electricity by 10% This Month</h2>
				
				<div class="section_nav">
					<div class="section_nav_content_left">
						<div class="button_dark"><a href="challenge_chatter.htm" <% if demo? %>onclick="demoMessage(); return false;"<% end %>>View Challenge Chatter</a></div>
					</div>
					<div class="section_nav_content_right">
						<div class="button_dark"><a href="challenge_start.htm" <% if demo? %>onclick="demoMessage(); return false;"<% end %>>Withdraw from Challenge</a></div>
					</div>
				</div>
				<div id="leaderboard">
				<div class="window"> 
				<div class="scroll_div">
				<div class="participant"><!-- START OF Participant -->
					<div class="challenge_user_profile"><img src="../images/community/profile_pictures/profile_thumbnail_06.jpg"></div>
					<div class="names">1. The Brandon House</div>
					
					<div class="bars">	
						
						<div class="progress_variable_top">ELECTRICITY (kWh)</div>
						
						<ul class="progress_numbers_top">
							<li>395</li>
							<li>387</li>
							<li>379</li>
							<li>371</li>
							<li>363</li>
							<li class="green last">356</li>
						</ul>
						<br>
						
						<ul class="progress_tabs_top">
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							
							
						</ul>
					
						<div class="progress_bkg">
							<div class="progress_stub_light" ></div><div style="width:200px; height:20px;"  class="progress_bar" ></div>
						</div>
				<div class="progress_variable_bottom">REDUCTION (%)</div>
						<ul class="progress_tabs_top">
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
						</ul>
						
						<ul class="progress_numbers_bottom">
							<li>0</li>
							<li>2</li>
							<li>4</li>
							<li>6</li>
							<li>8</li>
							<li class="green last">10</li>
						</ul>
						
						
					</div>
				</div><!-- END OF Participant -->
				
				<div class="participant"><!-- START OF Participant -->
					<div class="challenge_user_profile"><img src="../images/community/profile_pictures/profile_thumbnail_14.jpg"></div>
					<div class="names">2. The EcoSavers</div>
					
					<div class="bars">	
						
						<div class="progress_variable_top">ELECTRICITY (kWh)</div>
						
						<ul class="progress_numbers_top">
							<li>395</li>
							<li>387</li>
							<li>379</li>
							<li>371</li>
							<li>363</li>
							<li class="green last">356</li>
						</ul>
						<br>
						
						<ul class="progress_tabs_top">
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							
							
						</ul>
					
						<div class="progress_bkg">
							<div class="progress_stub_light" ></div><div style="width:150px; height:20px;"  class="progress_bar" ></div>
						</div>
				<div class="progress_variable_bottom">REDUCTION (%)</div>
						<ul class="progress_tabs_top">
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
						</ul>
						
						<ul class="progress_numbers_bottom">
							<li>0</li>
							<li>2</li>
							<li>4</li>
							<li>6</li>
							<li>8</li>
							<li class="green last">10</li>
						</ul>
						
						
					</div>
				</div><!-- END OF Participant -->

					<div class="participant"><!-- START OF Participant -->
					<div class="challenge_user_profile"><img src="../images/community/profile_pictures/profile_thumbnail_05.jpg"></div>
					<div class="names">3. Ecofriendliest</div>
					
					<div class="bars">	
						
						<div class="progress_variable_top">ELECTRICITY (kWh)</div>
						
						<ul class="progress_numbers_top">
							<li>395</li>
							<li>387</li>
							<li>379</li>
							<li>371</li>
							<li>363</li>
							<li class="green last">356</li>
						</ul>
						<br>
						
						<ul class="progress_tabs_top">
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							
							
						</ul>
					
						<div class="progress_bkg">
							<div class="progress_stub_light" ></div><div style="width:100px; height:20px;"  class="progress_bar" ></div>
						</div>
				<div class="progress_variable_bottom">REDUCTION (%)</div>
						<ul class="progress_tabs_top">
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
						</ul>
						
						<ul class="progress_numbers_bottom">
							<li>0</li>
							<li>2</li>
							<li>4</li>
							<li>6</li>
							<li>8</li>
							<li class="green last">10</li>
						</ul>
						
						
					</div>
				</div><!-- END OF Participant -->
					
					<div class="participant"><!-- START OF Participant -->
					<div class="challenge_user_profile"><img src="../images/community/profile_pictures/profile_thumbnail_15.jpg"></div>
					<div class="names">4. The Green Family</div>
					
					<div class="bars">	
						
						<div class="progress_variable_top">ELECTRICITY (kWh)</div>
						
						<ul class="progress_numbers_top">
							<li>395</li>
							<li>387</li>
							<li>379</li>
							<li>371</li>
							<li>363</li>
							<li class="green last">356</li>
						</ul>
						<br>
						
						<ul class="progress_tabs_top">
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							
							
						</ul>
					
						<div class="progress_bkg">
							<div class="progress_stub_light" ></div><div style="width:75px; height:20px;"  class="progress_bar" ></div>
						</div>
				<div class="progress_variable_bottom">REDUCTION (%)</div>
						<ul class="progress_tabs_top">
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
						</ul>
						
						<ul class="progress_numbers_bottom">
							<li>0</li>
							<li>2</li>
							<li>4</li>
							<li>6</li>
							<li>8</li>
							<li class="green last">10</li>
						</ul>
						
						
					</div>
				</div><!-- END OF Participant -->
				
				</div> <!-- END OF SCROLL DIV -->
				
				
				<div class="self_progress"><!-- START OF SELF_PROGRESS -->
				
				
				<div class="participant">
					<div class="challenge_user_profile"><img src="../images/community/profile_pictures/profile_you.jpg"></div>
					<div class="names">5. You</div>
					
					<div class="bars">	
						
						<div class="progress_variable_top">ELECTRICITY (kWh)</div>
						
						<ul class="progress_numbers_top">
							<li>395</li>
							<li>387</li>
							<li>379</li>
							<li>371</li>
							<li>363</li>
							<li class="green last">356</li>
						</ul>
						<br>
						
						<ul class="progress_tabs_top">
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							<li class="progress_tabs_top"></li>
							
							
						</ul>
					
						<div class="progress_bkg">
							<div class="progress_stub_light" ></div><div style="width:50px; height:20px;"  class="progress_bar" ></div>
						</div>
				<div class="progress_variable_bottom">REDUCTION (%)</div>
						<ul class="progress_tabs_top">
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
							<li class="progress_tabs_bottom"></li>
						</ul>
						
						<ul class="progress_numbers_bottom">
							<li>0</li>
							<li>2</li>
							<li>4</li>
							<li>6</li>
							<li>8</li>
							<li class="green last">10</li>
						</ul>
						
						
					</div>
				</div>
				
				
				</div><!-- END OF SELF_PROGRESS -->
				
				
				
				</div> <!-- END OF WINDOW -->
				</div>
			</div><!-- END OF CENTER CENTER -->
		
		
		
		
		</div><!-- END OF CENTER BLOCK -->






