<% title("Neighbourhood Network | Green Tips") %>

<div id="sidebar_left"><!-- START OF SIDEBAR LEFT -->
	<div id="sidebar_content">
	<H5 class="title aqua_blue">BOUCHER HOUSEHOLD</H5>
	<div id="profilepic" class="profile" onmouseover="DisplayDIV('editMode');"  style="cursor:pointer" >
	
	<div class="profile_edit" onmouseout="HideDIV('editMode');" id="editMode" style="display:none;" onclick="RedBox.showInline('modal_edit_profile'); return false;"></div>
	</div>

	<p class="small light-grey">
		You have posted <span class="green">10 Tips</span> so far. Three of your tips have received a 5 star ranking.
	</p>
	
	<div class="section_divider"></div>
	<h5 class="title aqua_blue">ACHIEVEMENTS</h5>
	
	<div class="achievement_row2">	
		<span class="trophy"><img src="../images/community/green_tip_medal.png"></span><span class="smaller light-grey">High Rated Green Tip </span>
	</div>
	<div class="achievement_row2">	
		<span class="trophy"><img src="../images/community/green_tip_medal_02.png"></span><span class="smaller light-grey">Top Weekly Contributer </span>
	</div>
</div>	
</div><!-- END OF SIDEBAR LEFT -->

		<div id="center_block"> <!-- START OF CENTER BLOCK ---- ----------------------->
			
			<div id="content_center">
				
				<h1 class="title dark-grey">COMMUNITY GREEN TIPS</h1>
				<h2 class="subtitle grey">Your Community Contributions</h2>
				
				<div class="search">
				<table><tr>
				<td><input class="searching" type="text"></td>
				<td><div class="button_light"><a href="tips_search.htm"<% if demo? %>onclick="demoMessage(); return false;"<% end %>>Search</a></td>
				</tr></table>
				</div>

				
				<div class="section_nav">
					<div class="section_nav_content_left">
					<div class="button_dark"><a href="tips.htm"<% if demo? %>onclick="demoMessage(); return false;"<% end %>>Category View</a></div>
					</div>
					
				</div>
				
				<div class="window"> 
				
					<div id ="tips_search">
						<div class="scroll_div"> 
							<div class="rows">
								<div class="row_item even" <% if demo? %>onclick="demoMessage(); return false;"<% end %>>
									<div class="title">5 quick tips to have a greener BBQ this summer | <span class="category_title grey"> Lifestyle Tips</span></div>
									<div class="fullview"><a href="tips_fullview_06.htm"></a></div>
									<div class="comment_link">
									<img src="../images/community/icon_comment.png" alt="icon_comment" width="19" height="12"/>
									</div>
									<div class="rating">
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_empty%5Bs%5D.png" alt="star_empty%5Bs%5D" width="12" height="12"/>
									</div>
								</div>
								
								
								
								<div class="row_item odd" <% if demo? %>onclick="demoMessage(); return false;"<% end %>>
									<div class="title">10 Easy Ways To Reduce Household Waste  | <span class="category_title grey">Recycling Tips</span> </div>
								    <div class="fullview"><a href=""></a></div>
									<div class="comment_link">
									<img src="../images/community/icon_comment.png" alt="icon_comment" width="19" height="12"/>
									</div>
									<div class="rating">
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_empty%5Bs%5D.png" alt="star_empty%5Bs%5D" width="12" height="12"/>
									</div>
								</div>
								
								<div class="row_item even" <% if demo? %>onclick="demoMessage(); return false;"<% end %>>
									<div class="title">Don’t forget to recycle your toothbrush.  | <span class="category_title grey"> Recycling Tips</span> </div>
									<div class="fullview"><a href=""></a></div>
									<div class="comment_link">
									<img src="../images/community/icon_comment.png" alt="icon_comment" width="19" height="12"/>
									</div>
									<div class="rating">
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_empty%5Bs%5D.png" alt="star_empty%5Bs%5D" width="12" height="12"/>
									</div>
								</div>
								
								<div class="row_item odd" <% if demo? %>onclick="demoMessage(); return false;"<% end %>>
									<div class="title">Run your clothes washer and dishwasher only when they are full | <span class="category_title grey"> Water Saving Tips</span> </div>
									<div class="fullview"><a href=""></a></div>
									<div class="comment_link">
									<img src="../images/community/icon_comment.png" alt="icon_comment" width="19" height="12"/>
									</div>
									<div class="rating">
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_empty%5Bs%5D.png" alt="star_empty%5Bs%5D" width="12" height="12"/>
									</div>
								</div>
								
								<div class="row_item even" <% if demo? %>onclick="demoMessage(); return false;"<% end %>>
									<div class="title">Use food coloring to test toilet bowl leaking. | <span class="category_title grey"> Water Saving Tips</span></div>
									<div class="fullview"><a href=""></a></div>
									<div class="comment_link">
									<img src="../images/community/icon_comment.png" alt="icon_comment" width="19" height="12"/>
									</div>
									<div class="rating">
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_full%5Bs%5D.png" alt="star_full%5Bs%5D" width="12" height="12"/>
									<img src="../images/community/star_empty%5Bs%5D.png" alt="star_empty%5Bs%5D" width="12" height="12"/>
									</div>
								</div>
								
								      								    
								</div>			
							</div>
				
						</div>
					
				
				
				
					
					
				</div><!-- END OF WINDOW -->
			</div><!-- END OF CONTENT CENTER -->
		
		
		
		
		</div><!-- END OF CENTER BLOCK -->






