<% title("Resource Usage | Analysis") %>

<div id="center_block"> 	
	<div id="resource_usage">
		<% image_tag "../images/layout/pulse_client.jpg", :alt => "Pulse Client"	%>	
		<iframe src="http://my.pulseenergy.com/dashboards/northhouse" width="900" height="610"></iframe>
	</div>
</div>
